<h1>Note#index</h1>
<p><%= @c_user %></p>

<% @note.each do |f| %>
<a href="/note/index/<%= f.id %>" class="">
<%= f.title %>
</a>
<br>
<% end %>

<!-- 詳細ページのテスト -->
<% @note_contents.each do |f| %>
<%= f.contents %>
</a>
<br>
<% end %>


<p class="link_to">
<%= link_to "新規作成", :controller => "note", :action => "new" %>
</p>
